html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body{
	background: #f3efe0;
	color: #48a770;
	font-weight: 300;
	font-size: 14px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #E67E22; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #E67E22;
}

#pusher{
	position: relative;
	z-index: 99;
	height: 100%;
	left: 0;
	padding: 0;
	margin: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#pusher.push-open{
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
	margin-right: 300px;
}

#main-container{
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

#main-container header{
	text-align: center;
	margin: 2em 0 0.5em 0;
}

#main-container header a{
	text-decoration: none;
	color: #48a770;
	font-weight: 300;
	font-size: 14px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

#main-container header h1{
	font-weight: 300;
	font-size: 2.6em;
	line-height: 1.3;
	margin: 0;
	text-transform: uppercase;
}

#main-container header span{
	display: block;
	padding: 0;
	font-size: 1.3em;
	text-transform: capitalize;
	color: #aca89a;
}

#main-container header h3{
	border: none;
	color: rgba(187, 53, 80, 0.8);
	font-size: 1.6em;
	padding: 0.6em 1.2em;
	letter-spacing: 1px;
	cursor: text;
	display: inline-block;
	margin: 2px 3px;
	font-weight: 300;
}

.task-node{
	display: none;
	margin: 0 auto;
	padding: 0;
	max-width: 970px;
	min-width: 300px;
}

.task-node.cur-task{
	display: block;
}

#dt-group-tree{
	padding-left: 12px;
}

#dt-group-tree ul{
	list-style: none;
	background: rgba(26, 188, 156, 0.94);
	border-radius: 5px;
	color: #34495e;
	padding: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	margin: 0 2% 10px 0;
	width: 31%;
	min-width: 250px;
	display: inline-block;
	vertical-align: top;
}

#dt-group-tree ul.has-miss{
	background: rgba(231, 76, 60, 0.8);
}

#dt-group-tree h3{
	text-transform: capitalize;
	margin: 0;
	padding: 0.8em;
	font-size: 1.8em;
	cursor: pointer;
}

#dt-group-tree h3 span{
	float: right;
	display: inline-block;
	line-height: 1;
	padding: 6px 16px;
	vertical-align: baseline;
	text-align: center;
	white-space: nowrap;
	font-weight: 300;
	font-size: 0.85em;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	margin-top: -2px;
}

#dt-group-tree ul li{
	line-height: 1.2;
	font-size: 1.2em;
	margin-top: 2px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	padding: 18px 42px 21px 25px;
}

#dt-group-tree ul li:last-child{
	border-radius: 0 0 6px 6px;
}

#dt-group-tree ul li.alive{
	cursor: pointer;
	background: #34495e;
}

#dt-group-tree ul li.miss{
	cursor: text;
	background: #C0392B;
}

#dt-group-tree ul li.alive a{
	text-decoration: none;
	color: #1abc9c;
	cursor: pointer;
}

#dt-group-tree ul li.miss a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	cursor: text;
}

#dt-terminal{
	background: #2C3E50;
	padding-top: 12px;
	box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}

#dt-terminal pre, #dt-terminal input{
	display: block;
	line-height: 1.5em;
	width: 100%;
	margin: 0 8px 0 3px;
	padding: 0.5em;
	background: transparent;
	border: none;
	outline: none;
	font-weight: 300;
	font-size: 14px;
	color: #95A5A6;
	cursor: text;
}

#dt-terminal *:focus{
	outline: none;
}

#dt-terminal pre{
	max-height: 340px;
	border-radius: 3px 3px 0 0;
	word-break: break-all;
	word-wrap: break-word;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	overflow: auto;
	white-space: pre;
	box-sizing: border-box;
}

#dt-terminal input{
	padding-top: 0;
	border-radius: 0 0 3px 3px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

#file-editor{
	position: relative;
	height: 600px;
	margin-bottom: 27px;
	background: rgba(0, 0, 0, 0.02);
	color: #444;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

#file-editor .ace_gutter{
	background: rgba(0, 0, 0, 0.05);
	color: #AAAA9F;
}

#dt-filesystem h3{
	font-weight: 400;
}

#dt-dashboard .dashboard-sub{
	display: inline-block;
	float: left;
	border: none;
	border-radius: 2px;
	background: rgba(7, 85, 35, 0.82);
	margin: 0 2% 2% 0;
	padding: 1em 1.2em;
	font-size: 1.5em;
	font-weight: 300;
	color: rgba(226, 240, 227, 0.89);
	text-align: center;
	vertical-align: middle;
	line-height: 1.3;
	min-width: 40%;
}

#dt-dashboard .dashboard-sub h4{
	padding: 0;
	margin: 0 0 1em 0;
	font-weight: 300;
	font-size: 1em;
	color: rgba(52, 172, 167, 0.8);
}

#dt-dashboard .dashboard-sub span{
	margin: 0 1em;
}

#dt-dashboard .dashboard-sub table{
	width: 100%;
	margin: 0 auto;
}

#dt-dashboard .dashboard-sub table td{
	padding: 0 1em;
}